@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    height: 128vw;
    margin-bottom: 150vw;
}

.scroll_bar {
    width: 7.3vw;
}
.scroll_img {
    margin:10vw 0 0 2vw;
    width: 1.5vw;
}
header {
    margin: 1vw 3.3vw 0 0;
    height: 9vw;
}

.cap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90vw;

}

.cap_bottom {
    margin-top: 1vw;
    border-bottom: 0.133vw solid #2A2A2A;
    opacity: 0.15;
}

.logo {
    display: flex;
    width: 19.5vw;
}

.logo_img {
    width: 10.4vw;
    height: 3vw;
}

.services {
    margin-left: 1.2vw;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.6vw;
    line-height: 1vw;
    /* or 182% */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #2A2A2A;

}

.map {
    display: flex;
    width: 10.5vw;
}

.map_img {
    width: 2vw;
    height: 2vw;
}

.adress {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.6vw;
    line-height: 1vw;
    /* or 164% */

    display: flex;
    align-items: center;

    color: #2A2A2A;

    margin-left: 0.5vw;
}

.check {
    display: flex;
    width: 7.5vw;
    cursor: pointer;
    position: relative;
}

.frame {
    position: absolute;
    right: -12vw;
    top: 2vw;
    width: 30vw;
    height: 30vw;
}

.check_img {
    width: 0.8vw;
    height: 1vw;
}

.check_text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.6vw;
    line-height: 1vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #2A2A2A;

    margin-left: 0.5vw;

    border-bottom: red dotted 0.3vw;
}

.calculator {
    display: flex;
    align-items: center;
    width: 11vw;
}

.calculator_img {
    width: 2vw;
    height: 2vw;
}

.calculator_text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.6vw;
    line-height: 1vw;
    /* or 173% */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #2A2A2A;

    margin-left: 1vw;

}

.contact {
    display: flex;
    width: 12.5vw;
}

.contact_text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.6vw;
    line-height: 1vw;
    /* or 164% */

    display: flex;
    align-items: center;

    color: #2A2A2A;
    width: 5.5vw;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5vw;
    width: 6.5vw;
}

.link_img {
    width: 2vw;
}

.phone {
    width: 10.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.5vw;
}

.phone_schedule {
    display: flex;
    justify-content: center;
    align-items: center;

}

.greenCircle_img {
    width: 0.263vw;
    height: 0.263vw;
}

.phone_text {
    margin-left: 0.3vw;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7vw;
    line-height: 0.633vw;
    /* identical to box height, or 83% */

    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.02em;

    color: #2A2A2A;
}

.phone_img {
    margin-top: 0.2vw;
    width: 0.4vw;
    height: 0.4vw;
}

.phone_contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_img {
    width: 0.6vw;
    height: 0.367vw;
}

.number {
    margin-right: 0.3vw;


    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 0.63vw;
    /* or 50% */

    display: flex;
    align-items: center;
    justify-content: center;

    color: #2A2A2A;
}

.phone_order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_order_text {
    margin-right: 0.3vw;

    cursor: pointer;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 1.4vw;
    /* or 175% */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #2A2A2A;
    text-decoration: underline dotted red 0.2vw;

}

.menu {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    height: 4vw;
}

.menu_element {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 0.6vw;
    line-height: 1vw;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #2A2A2A;
    text-decoration: none;
}

.over_links {
    display: none;
}

.main_content {
    background:
        linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%),
        linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%),
        url("../images/bg.png");
    background-size: cover;
    height: 49vw;
    width: 93.3vw;
}

.main_content_white {
    background: #FFFFFF;
    height: 49vw;
    width: 93.3vw;
}

.content {
    padding: 6.6vw 6vw 0 6vw;
}

.title {
    margin-bottom: 1.3vw;
    width: 52.6vw;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 3.3vw;
    line-height: 5.3vw;
    /* or 146% */

    letter-spacing: 0.02em;

    color: #FFFFFF;

}

.subtitle {
    margin-bottom: 3vw;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2.6vw;
    /* identical to box height, or 167% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 5.2vw;
    width: 43vw;
    margin-bottom: 6.4vw;
}

.red_button {
    background: #FD2016;
    width: 20.8vw;
    border-radius: 30vw;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: .3s;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border: 0;
}

.red_button::after {
    content: "";
    display: block;
    width: 2vw;
    height: 13vw;
    margin-left: 3vw;
    background: #fff;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0.5) 100%);
    left: -2.2vw;
    top: -5.5vw;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    animation: movingFlare 3s ease-in-out 0.05s infinite;
}

.red_button:hover {
    background: #c50a00;

}

.red_button_text {
    margin-right: 1vw;
    width: 12vw;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
    line-height: 1.3vw;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.transparent_button {
    width: 20.8vw;

    background-color: rgba(0, 0, 0, 0.5);
    border: 0.133vw solid rgba(255, 255, 255, 0.5);
    border-radius: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.transparent_button:hover {
    background-color: rgba(39, 39, 39, 0.5);
    ;
}

.pickaxe_img {
    width: 1.533vw;
    height: 1.533vw;
    transition: 0.5s;
}

.red_button:hover .pickaxe_img {
    width: 1.533vw;
    height: 1.533vw;
    transform: rotate(45deg);
}

.transparent_button_text {
    margin-left: 1vw;


    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
    line-height: 1.3vw;
    /* or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.whatsapp_button_img {
    width: 2vw;
    height: 2vw;
}

.bullets {
    width: 80vw;
    height: 9.25vw;
    display: flex;
}

.bullet {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.4vw;
    /* or 159% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.bul1 {
    width: 30vw;
}

.jackdaw_img {
    width: 0.9vw;
    height: 0.6vw;
    margin-bottom: .5vw;
}

.side_border {
    margin: 0 5vw 0 5vw;
    opacity: 0.25;
    border: 0.1vw solid #FFFFFF;
}

.burger_menu {
    display: none;
}

.forMob {
    display: none;
}

.form {
    background: url(../images/form_bg.svg);
    width: 26vw;
    height: 30vw;
    position: absolute;
    right: 0vw;
    top: 5vw;
    transition: 1s;
}

.form_stroke {
    cursor: pointer;
    margin-top: 1.5vw;
    margin-left: 23.5vw;
    width: 1.5vw;
}

.form_title {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 2.267vw;
    line-height: 2.467vw;
    text-align: center;

    color: #FFFFFF;

}

.form_subtitle {
    margin: 1vw 4vw 0 4vw;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.5vw;
    /* or 156% */

    text-align: center;

    color: #FFFFFF;

}

.form_indication {
    margin: 1vw 0 0 6vw;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: .8vw;
    line-height: 1.467vw;



    color: #FFFFFF;
}

.form_phone_number {
    padding: 1vw 2.5vw;
    margin: 0 3.2vw 1vw 3.2vw;

    font-size: 1.6vw;
    line-height: 1vw;
    width: 18.90625vw;
    height: 4.2vw;
    background: #FAFAFA;
    box-shadow: inset 0px 0px 21px rgba(255, 255, 255, 0.4);
    border-radius: 4vw;

    outline: none;
    border: none;
}

.form_submit_button {
    margin: 0 3.2vw 1vw 3.2vw;
    cursor: pointer;

    background: #FD2016;
    width: 18.90625vw;
    height: 4.2vw;
    border-radius: 4vw;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;
    /* or 150% */

    font-size: 1.3vw;

    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.form_submit_button_false {
    margin: 0 3.2vw 1vw 3.2vw;

    cursor: not-allowed;
    background: #3f2423;
    width: 18.90625vw;
    height: 4.2vw;
    border-radius: 4vw;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;
    /* or 150% */

    font-size: 1.3vw;

    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.policy {
    margin: 0 3.2vw 1vw 3.2vw;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: .867vw;
    line-height: .9533vw;
    /* or 136% */
    display: flex;
    align-items: flex-start;
    color: #FFFFFF;
}

.policy input {
    margin-right: .5vw;
    width: 2vw;
}


@media (max-width: 992px) {
    body {}

    .container {
        background: linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%),
            linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%),
            url("../images/bg.png");
        background-size: cover;
        width: 100vw
    }

    .container_after {
        background: #FFFFFF;
        width: 100vw
    }

    .burger_menu {
        margin-top: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 4vw;
        cursor: pointer;
    }

    .burger_line {
        width: 5vw;
        border: 0.433vw solid white;
    }

    .burger_line_after {
        width: 5vw;
        border: 0.433vw solid black;
    }

    .logo {
        margin-left: 5vw;
    }

    .logo_img {
        display: flex;
        width: 29.5vw;
        height: 15vw;
    }

    .services {
        display: none;
    }

    .map {
        display: none;
    }

    .check {
        display: none;
    }

    .calculator {
        display: none;
    }

    .contact {
        display: none;
    }

    .cap_bottom {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu_after {
        margin: 12vw 0 0 7vw;

        height: 120vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu_element {
        display: block;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 6vw;
        line-height: 6vw;

        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #1C1C1C;
        text-decoration: none;
    }

    .menu_element_service {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 2vw;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.15em;

        color: #929292;

        text-decoration: none;
    }

    .over_links_after {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10vw;
    }

    .main_content {
        background: none;
    }

    .main_content_after {
        display: none;
    }

    .content {
        margin-top: 15vw;
        padding: 0vw 6vw 0 6vw;
    }

    .title {
        font-size: 5vw;
        line-height: 7vw;
    }

    .subtitle {
        margin-top: 5vw;
        font-size: 3.5vw;
        line-height: 3vw;
        width: 70vw;
        margin-bottom: 10vw;
    }

    .buttons {
        width: 90vw;
        display: flex;
        flex-direction: column;
        height: 40vw;
    }

    .red_button {
        width: 85vw;

        height: 18vw;

    }

    .red_button::after {
        width: 5vw;
        height: 30vw;
        margin-left: 3vw;
        left: -2.2vw;
        top: -5.5vw;
    }

    .red_button_text {
        font-size: 3vw;
        line-height: 5vw;
        width: 65vw;

    }

    .transparent_button {
        width: 85vw;
        height: 18vw;
    }

    .transparent_button_text {
        font-size: 3.5vw;
        width: 65vw;
    }

    .whatsapp_button_word {
        margin-left: 1vw;
        color: green;
    }

    .pickaxe_img {
        display: none;
    }

    .whatsapp_button_img {
        display: none;
    }

    .scroll_bar {
        display: none
    }

    .phone {
        margin: 2vw 0 0 14vw;
        width: 30vw;
        height: 10vw;
    }

    .number {
        color: #FFFFFF;
        font-size: 3.4vw
    }

    .number_after {
        color: black;
        font-size: 3.4vw;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
    }

    .phone_text {
        color: #FFFFFF;
        font-size: 1.7vw;
    }

    .phone_text_after {
        color: black;
        font-size: 1.7vw;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;

    }

    .phone_order_text {
        color: #FFFFFF;
        font-size: 2.1vw;
        text-decoration: underline dotted red 1vw;
    }

    .phone_order_text_after {
        color: black;
        font-size: 2.1vw;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        border-bottom: red dotted 1vw;

    }

    .greenCircle_img {
        margin-right: 1vw;
        width: 1.2vw;
        height: 1.2vw;
    }

    .phone_img {
        margin-left: 1vw;
        width: 2vw;
        height: 2vw;
    }

    .arrow_img {
        display: none;
    }

    .bullets {
        justify-content: space-between;
        width: 90vw;
        margin-top: 10vw;
        flex-wrap: wrap;
    }

    .jackdaw_img {
        width: 5vw;
        height: 5vw;
    }

    .bullet {
        margin-bottom: 5vw;
        width: 40vw;
        font-size: 3vw;
        line-height: 4vw;
        color: black;
    }

    .bul1 {
        order: 1;
    }

    .bul2 {
        order: 3;
    }

    .bul3 {
        order: 2
    }

    .bul4 {
        order: 2;
    }

    .side_border {
        display: none;
    }

    .forMob_after {
        margin: 10vw 2vw 0 10vw;
        display: flex;
        flex-direction: column;
        height: 80vw;
        justify-content: space-between;
    }

    .map_for_mob {
        display: flex;
    }

    .map_img_mob {
        width: 15vw;
    }

    .adress_mob {
        margin-left: 5vw;

        display: flex;
        flex-direction: column;
        justify-content: center;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 6vw;
        /* identical to box height, or 136% */

        letter-spacing: 0.05em;

        color: #2A2A2A;
    }

    .calculator_for_mob {
        display: flex;

    }

    .calculator_img_mob {
        width: 15vw;

    }

    .calculator_text_mob {
        margin-left: 5vw;


        display: flex;
        flex-direction: column;
        justify-content: center;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 6vw;
        /* identical to box height, or 136% */

        letter-spacing: 0.05em;

        color: #2A2A2A;
    }

    .fv {
        margin-left: 0.2vw;
    }

    .contact_for_mob {
        display: flex;

    }

    .face_img {
        margin-top: 3vw;
        width: 15vw;
        align-self: flex-start;
    }

    .contact_for_mob_text {
        margin-left: 5vw;


        display: flex;
        align-items: center;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        line-height: 6vw;
        /* identical to box height, or 136% */

        letter-spacing: 0.05em;

    }

    .link_img {
        margin-top: 3vw;
        width: 7vw;
    }

    .form {
        background: url(../images/form_bg.svg);
        width: 100vw;
        height: 200vw;
        position: absolute;
        right: 0vw;
        top: 0vw;
        transition: 1s;
        z-index: 55;
    }

    .form_stroke {
        cursor: pointer;
        margin-top: 5vw;
        margin-left: 90vw;
        width: 5vw;
    }

    .form_title {

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 5.267vw;
        line-height: 5.467vw;
        text-align: center;

        color: #FFFFFF;

    }

    .form_subtitle {
        margin: 1vw 4vw 0 4vw;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 3.7vw;
        /* or 156% */

        text-align: center;

        color: #FFFFFF;

    }

    .form_indication {
        margin: 1vw 0 0 36vw;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 3.467vw;



        color: #FFFFFF;
    }

    .form_phone_number {
        padding: 1vw 2.5vw;
        margin: 1vw 3.2vw 1vw 30vw;

        font-size: 4vw;
        line-height: 1vw;
        width: 40.90625vw;
        height: 10.2vw;
        background: #FAFAFA;
        box-shadow: inset 0px 0px 21px rgba(255, 255, 255, 0.4);
        border-radius: 10vw;

        outline: none;
        border: none;
    }

    .form_submit_button {
        margin: 1vw 3.2vw 1vw 30vw;
        cursor: pointer;

        background: #FD2016;
        width: 40.90625vw;
        height: 10.2vw;
        border-radius: 10vw;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 0.9vw;
        /* or 150% */

        font-size: 3vw;

        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    .form_submit_button_false {
        margin: 1vw 3.2vw 1vw 30vw;

        cursor: not-allowed;
        background: #3f2423;
        width: 40.90625vw;
        height: 10.2vw;
        border-radius: 10vw;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 0.9vw;
        /* or 150% */

        font-size: 3vw;

        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    .policy {
        margin: 0 25.2vw 1vw 30vw;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 2vw;
        /* or 136% */
        display: flex;
        align-items: flex-start;
        color: #FFFFFF;
    }

    .policy input {
        margin-right: .5vw;
        width: 2vw;
    }

}

.forHide {
    display: none;
    transition: 1s;
}

.forSee {
    display: block;
}

@keyframes movingFlare {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}